$fg: #dedede;
$bg: #1d1f21;

.light {
    display: none;
}

html {
    background-color: $bg;
    color: $fg;
    font-family: sans-serif;
}

.main {
    .list {
        background-color: lighten($bg, 2);
        .room {
            border: 1px solid black;
        }
        input[type="radio"]:checked + label {
             background-color: lighten($bg, 5);
        }
    }

    .view {
        color: lighten($fg, 90);
        background-color: lighten($bg, 10);
        .messages {
            .room_messages {
                .message {
                    .timestamp {
                        color: darken($fg, 45);
                    }
                }
                .in {
                    background-color: lighten($bg, 4);
                }

                .out {
                    background-color: lighten($bg, 1);
                }

            }
        }

        .input {
            background-color: lighten($bg, 5);
            textarea {
                color: lighten($fg, 5);
            }
        }
    }
}
